.rd-button-size-m.rd-button-with-icon.rd-button-with-text{
  border-radius: 5px !important;
  background-color: #7c6992 !important;
}
.rd-button-background-light.rd-button-secondary.rd-button-size-m, .rd-button-background-light.rd-button-secondary.rd-button-size-s, .rd-button-background-light.rd-button-secondary.rd-button-size-xs:not(.rd-button-with-text){
  border-radius: 5px !important;
  background-color: #afabc9 !important;
}

.rd-button-background-light{
  border-radius: 10px !important;
  background-color: #afabc9 !important;
}
.rd-botton{
  border-radius: 5px !important;
}
.ngdialog-overlay, .ngdialog{
  background-color: transparent !important; 
}
.rd-button-primary{
  border-radius: 5px !important;
  background-color: #afabc9 !important;
}
.input-box{
  height:35px !important;
}

body, .bk-pinboard-page-content{
  background: #ffffff !important;
}
  
.bk-base-pinboard-data-viz{
  border: 1px solid #aaaaaa;
  border-radius: 5px;
}
.ribbon-item, .modal-header {
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  background: #ffffff;
}
